[Unit]
Description=Check hourly for successful Proxmox backups needing cloud upload

[Timer]
OnCalendar=*-*-* *:15:00
Persistent=true
RandomizedDelaySec=60
Unit=pve-drive-upload.service

[Install]
WantedBy=timers.target
